**/.idea
**.iml
**/target

# Mac
.DS_Store
  
# Maven
**/log/
**/target/

#Gradle
**/build/
**/gradle/
**/.gradle/

#common
**/out
**.class

L02-memory/L02-memory\.iml

L01\.1-maven/L01\.1-maven\.iml

L03-collection/L03-collection\.iml

L04-tetsfraemwork/L04-TetsFraemwork\.iml

L05-gc/L05-gc\.iml

L06-cashe/L06-cashe\.iml

L07-ATM/L07-ATM\.iml

L08DepartATM/L08DepartATM\.iml

L09-jsonwriter/L09-jsonwriter\.iml

L10-MyORM/L10-MyORM\.iml

L11-Hibernate/L11-Hibernate\.iml

L12-WEB_Server/L12-WEB_Server\.iml

L13-Threads/L13-Threads\.iml

L14-Parent-WEBServer/L14-Parent-WEBServer\.iml

L14_WEB_Server_WAR/L14_WEB_Server_WAR\.iml

L15-messageSystem/L15-messageSystem\.iml

L16-SpringBootWS/L16-SpringBootWS\.iml
